@import url("https://fonts.googleapis.com/css?family=Lato|Quicksand");
html, body {
  overflow-x: hidden; }

body {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  color: #393939; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Quicksand", Helvetica, Arial, sans-serif; }

h2 {
  font-size: 28px;
  font-weight: normal;
  margin-bottom: 5px; }

p {
  font-size: 16px;
  line-height: 19px;
  font-weight: 100; }

/* GRID */
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative; }

.container:before,
.container:after {
  content: " ";
  display: table; }

.container:after {
  clear: both; }

.one-half, .one-third, .one-fourth {
  float: left;
  position: relative;
  min-height: 1px; }

.one-fourth {
  width: 46%;
  margin: 0 2% 5px; }

.one-half, one-third {
  width: 96%;
  margin: 0 2% 20px; }

.btn-outline {
  padding: 10px 22px;
  border: 1px solid #FC3D3D;
  border-radius: 100px;
  -webkit-transition: border .2s linear; }

/** HEADER **/
header nav {
  padding: 1em 0; }

header nav .search {
  width: 20%;
  float: left; }

header nav .search input {
  width: 100%;
  padding: 10px;
  font-family: Lato;
  color: #777777;
  font-size: 13px;
  font-weight: 200;
  border: 1px solid #777777;
  border-radius: 100px;
  margin: 0 5px;
  text-indent: 20px; }

header nav .search input:focus {
  border: 1px solid #3DC0F3;
  outline: none;
  -webkit-transition: box-shadow .2s linear;
  box-shadow: 0 0 2px #3DC0F3; }

header nav .search .fa-search {
  position: absolute;
  top: 25px;
  left: 30px;
  color: #777777; }

header nav ul {
  display: inline;
  text-align: right;
  float: right;
  margin: 0; }

header nav ul > li {
  list-style-type: none;
  display: inline-block;
  margin: 0 5px; }

header nav ul > li.btn-outline {
  padding: 10px 22px;
  border: 1px solid #FC3D3D;
  border-radius: 100px;
  -webkit-transition: border .2s linear; }

header nav ul > li.btn-outline > a {
  color: #FC3D3D;
  text-decoration: none; }

header nav ul > li.btn-outline:hover > a {
  -webkit-transition: color .2s linear;
  color: #FFF; }

header nav ul > li.solid-btn {
  padding: 11px 20px;
  background: #FC3D3D;
  border-radius: 100px;
  border: 1px solid #FC3D3D; }

header nav ul > li:hover {
  -webkit-transition: background .2s linear;
  background: #FF828D;
  border: 1px solid #FF828D; }

header nav ul > li.solid-btn > a {
  color: #FFF;
  text-decoration: none; }

/*** HERO ***/
header .hero {
  text-align: center;
  display: block;
  position: relative; }

header .hero h1 {
  font-size: 28px;
  font-weight: 300;
  margin: 25px 0 0;
  color: #393939; }

header .hero h3 {
  font-size: 18px;
  font-weight: 300;
  color: #393939;
  margin-bottom: 5px; }

header .hero p {
  font-size: 14px;
  line-height: 10px;
  font-weight: 300;
  text-align: center; }

header .hero img {
  display: block;
  margin: 1em auto 0; }

header .hero a {
  color: #FC3D3D;
  font-weight: 200;
  text-decoration: none;
  margin: 0 0 50px; }

header .hero a:hover {
  -webkit-transition: color .2s linear;
  color: #FF828D; }

header .featured-work img {
  margin-top: 10px;
  max-width: 100%; }

header .featured-work > .work-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 12px;
  margin: 5px auto 8px; }

header .featured-work > .by-artist {
  font-size: 12px;
  line-height: 0; }

header .hero > .explore-more {
  margin-top: 0px; }

header .hero > .learn-more {
  margin: 20px auto; }

/*** MEDIA QUERIES ***/
@media (min-width: 768px) {
  /* tablet */
  .container {
    width: 750px; }

  .one-fourth {
    width: 46%; }

  header .hero p {
    font-size: 16px; }

  header .featured-work > .work-title {
    font-size: 16px; } }
@media (min-width: 992px) {
  /*laptop */
  .container {
    width: 970px; }

  .one-half {
    width: 46%; }

  .one-third {
    width: 29.33333%; }

  .one-fourth {
    width: 21%; } }
@media (min-width: 1200px) {
  /*desktop*/
  .container {
    width: 1170px; } }

/*# sourceMappingURL=style.css.map */
